CSharp/WsRecursosHumanos/RecursosHumanos/Service References/PlanillaServico/Planilla.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Planilla" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41294/Planilla.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41294/Planilla.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41294/Planilla.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlanilla_AgregarPlanilla_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlanilla" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_AgregarPlanilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlanillaResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_EditarPlanilla_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarPlanilla" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_EditarPlanilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarPlanillaResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_TraerPlanillas_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerPlanillas" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_TraerPlanillas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerPlanillasResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_ObtenerPlanilla_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPlanilla" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_ObtenerPlanilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPlanillaResponse" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_InsertarPlanillaEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPlanillaEmpleado" />
  </wsdl:message>
  <wsdl:message name="IPlanilla_InsertarPlanillaEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPlanillaEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlanilla">
    <wsdl:operation name="AgregarPlanilla">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanilla/AgregarPlanilla" message="tns:IPlanilla_AgregarPlanilla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanilla/AgregarPlanillaResponse" message="tns:IPlanilla_AgregarPlanilla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarPlanilla">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanilla/EditarPlanilla" message="tns:IPlanilla_EditarPlanilla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanilla/EditarPlanillaResponse" message="tns:IPlanilla_EditarPlanilla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerPlanillas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanilla/TraerPlanillas" message="tns:IPlanilla_TraerPlanillas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanilla/TraerPlanillasResponse" message="tns:IPlanilla_TraerPlanillas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlanilla">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanilla/ObtenerPlanilla" message="tns:IPlanilla_ObtenerPlanilla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanilla/ObtenerPlanillaResponse" message="tns:IPlanilla_ObtenerPlanilla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPlanillaEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlanilla/InsertarPlanillaEmpleado" message="tns:IPlanilla_InsertarPlanillaEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlanilla/InsertarPlanillaEmpleadoResponse" message="tns:IPlanilla_InsertarPlanillaEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlanilla" type="tns:IPlanilla">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarPlanilla">
      <soap:operation soapAction="http://tempuri.org/IPlanilla/AgregarPlanilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarPlanilla">
      <soap:operation soapAction="http://tempuri.org/IPlanilla/EditarPlanilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPlanillas">
      <soap:operation soapAction="http://tempuri.org/IPlanilla/TraerPlanillas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlanilla">
      <soap:operation soapAction="http://tempuri.org/IPlanilla/ObtenerPlanilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPlanillaEmpleado">
      <soap:operation soapAction="http://tempuri.org/IPlanilla/InsertarPlanillaEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Planilla">
    <wsdl:port name="BasicHttpBinding_IPlanilla" binding="tns:BasicHttpBinding_IPlanilla">
      <soap:address location="http://localhost:41294/Planilla.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>