CSharp/WsRecursosHumanos/RecursosHumanos/Service References/PlanillaServico/Planilla2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41294/Planilla.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" />
  <xs:element name="AgregarPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" minOccurs="0" name="planilla" nillable="true" type="q1:Planilla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarPlanillaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" minOccurs="0" name="planilla" nillable="true" type="q2:Planilla" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarPlanillaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPlanillas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPlanillasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" minOccurs="0" name="TraerPlanillasResult" nillable="true" type="q3:ArrayOfPlanilla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlanillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" minOccurs="0" name="ObtenerPlanillaResult" nillable="true" type="q4:Planilla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPlanillaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" minOccurs="0" name="planillaempleado" nillable="true" type="q5:ArrayOfPlanillaEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPlanillaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarPlanillaEmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>