CSharp/WsRecursosHumanos/RecursosHumanos/Service References/PlanillaServico/Planilla.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Planilla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planilla" nillable="true" type="tns:Planilla" />
  <xs:complexType name="ArrayOfPlanilla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planilla" nillable="true" type="tns:Planilla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanilla" nillable="true" type="tns:ArrayOfPlanilla" />
  <xs:complexType name="ArrayOfPlanillaEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanillaEmpleado" nillable="true" type="tns:PlanillaEmpleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanillaEmpleado" nillable="true" type="tns:ArrayOfPlanillaEmpleado" />
  <xs:complexType name="PlanillaEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDempleado" type="xs:int" />
      <xs:element minOccurs="0" name="IDplanilla" type="xs:int" />
      <xs:element minOccurs="0" name="saldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanillaEmpleado" nillable="true" type="tns:PlanillaEmpleado" />
</xs:schema>