CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/AulaService/AulaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55919/WebServices/Servicies/AulaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
  <xs:element name="InsertarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q1:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAulaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="aula" nillable="true" type="q2:Aula" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q3:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarAulaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Aula" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q4:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAulaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAulas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAulasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="TraerAulasResult" nillable="true" type="q5:ArrayOfAula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Aula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="ObtenerAulaResult" nillable="true" type="q6:Aula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>