CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/AulaService/AulaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Adminstrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrador" nillable="true" type="tns:Adminstrador" />
  <xs:complexType name="Aula">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Aula" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_Aula" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aula" nillable="true" type="tns:Aula" />
  <xs:complexType name="ArrayOfAula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aula" nillable="true" type="tns:Aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAula" nillable="true" type="tns:ArrayOfAula" />
</xs:schema>