CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/AulaService/AulaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AulaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AulaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AulaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AulaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAulaService_InsertarAula_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAula" />
  </wsdl:message>
  <wsdl:message name="IAulaService_InsertarAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IAulaService_ModificarAula_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAula" />
  </wsdl:message>
  <wsdl:message name="IAulaService_ModificarAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IAulaService_EliminarAula_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAula" />
  </wsdl:message>
  <wsdl:message name="IAulaService_EliminarAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAulaResponse" />
  </wsdl:message>
  <wsdl:message name="IAulaService_TraerAulas_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerAulas" />
  </wsdl:message>
  <wsdl:message name="IAulaService_TraerAulas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerAulasResponse" />
  </wsdl:message>
  <wsdl:message name="IAulaService_ObtenerAula_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAula" />
  </wsdl:message>
  <wsdl:message name="IAulaService_ObtenerAula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAulaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAulaService">
    <wsdl:operation name="InsertarAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IAulaService/InsertarAula" message="tns:IAulaService_InsertarAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAulaService/InsertarAulaResponse" message="tns:IAulaService_InsertarAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IAulaService/ModificarAula" message="tns:IAulaService_ModificarAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAulaService/ModificarAulaResponse" message="tns:IAulaService_ModificarAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IAulaService/EliminarAula" message="tns:IAulaService_EliminarAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAulaService/EliminarAulaResponse" message="tns:IAulaService_EliminarAula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerAulas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAulaService/TraerAulas" message="tns:IAulaService_TraerAulas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAulaService/TraerAulasResponse" message="tns:IAulaService_TraerAulas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAula">
      <wsdl:input wsaw:Action="http://tempuri.org/IAulaService/ObtenerAula" message="tns:IAulaService_ObtenerAula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAulaService/ObtenerAulaResponse" message="tns:IAulaService_ObtenerAula_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAulaService" type="tns:IAulaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarAula">
      <soap:operation soapAction="http://tempuri.org/IAulaService/InsertarAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAula">
      <soap:operation soapAction="http://tempuri.org/IAulaService/ModificarAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAula">
      <soap:operation soapAction="http://tempuri.org/IAulaService/EliminarAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAulas">
      <soap:operation soapAction="http://tempuri.org/IAulaService/TraerAulas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAula">
      <soap:operation soapAction="http://tempuri.org/IAulaService/ObtenerAula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AulaService">
    <wsdl:port name="BasicHttpBinding_IAulaService" binding="tns:BasicHttpBinding_IAulaService">
      <soap:address location="http://localhost:55919/WebServices/Servicies/AulaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>