CSharp/WsRecursosHumanos/RecursosHumanos/Service References/UsuarioServicio/UsuarioServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41294/UsuarioServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41294/UsuarioServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41294/UsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServicio_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_TraerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_TraerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_ValidarSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSession" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_ValidarSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServicio">
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/AgregarUsuario" message="tns:IUsuarioServicio_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/AgregarUsuarioResponse" message="tns:IUsuarioServicio_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/EditarUsuario" message="tns:IUsuarioServicio_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/EditarUsuarioResponse" message="tns:IUsuarioServicio_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/EliminarUsuario" message="tns:IUsuarioServicio_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/EliminarUsuarioResponse" message="tns:IUsuarioServicio_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/TraerUsuarios" message="tns:IUsuarioServicio_TraerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/TraerUsuariosResponse" message="tns:IUsuarioServicio_TraerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/ObtenerUsuario" message="tns:IUsuarioServicio_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/ObtenerUsuarioResponse" message="tns:IUsuarioServicio_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/CambiarClave" message="tns:IUsuarioServicio_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/CambiarClaveResponse" message="tns:IUsuarioServicio_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/ValidarSession" message="tns:IUsuarioServicio_ValidarSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/ValidarSessionResponse" message="tns:IUsuarioServicio_ValidarSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioServicio" type="tns:IUsuarioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/TraerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarSession">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/ValidarSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioServicio">
    <wsdl:port name="BasicHttpBinding_IUsuarioServicio" binding="tns:BasicHttpBinding_IUsuarioServicio">
      <soap:address location="http://localhost:41294/UsuarioServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>