CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/GrupoService/GrupoServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Aula" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Carrera" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Grupo" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Profesor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:complexType name="Adminstrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrador" nillable="true" type="tns:Adminstrador" />
  <xs:complexType name="ArrayOfGrupo_Entero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupo_Entero" nillable="true" type="tns:Grupo_Entero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupo_Entero" nillable="true" type="tns:ArrayOfGrupo_Entero" />
  <xs:complexType name="Grupo_Entero">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Aula" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Carrera" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Grupo" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Profesor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Aula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Carrera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo_Entero" nillable="true" type="tns:Grupo_Entero" />
</xs:schema>