CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/CarreraServicio/CarreraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarreraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/CarreraService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/CarreraService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/CarreraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarreraService_InsertarCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCarrera" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_InsertarCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_ModificarCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCarrera" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_ModificarCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_EliminarCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCarrera" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_EliminarCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_TraerCarreras_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerCarreras" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_TraerCarreras_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerCarrerasResponse" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_ObtenerCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCarrera" />
  </wsdl:message>
  <wsdl:message name="ICarreraService_ObtenerCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCarreraResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarreraService">
    <wsdl:operation name="InsertarCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarreraService/InsertarCarrera" message="tns:ICarreraService_InsertarCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarreraService/InsertarCarreraResponse" message="tns:ICarreraService_InsertarCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarreraService/ModificarCarrera" message="tns:ICarreraService_ModificarCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarreraService/ModificarCarreraResponse" message="tns:ICarreraService_ModificarCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarreraService/EliminarCarrera" message="tns:ICarreraService_EliminarCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarreraService/EliminarCarreraResponse" message="tns:ICarreraService_EliminarCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerCarreras">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarreraService/TraerCarreras" message="tns:ICarreraService_TraerCarreras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarreraService/TraerCarrerasResponse" message="tns:ICarreraService_TraerCarreras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarreraService/ObtenerCarrera" message="tns:ICarreraService_ObtenerCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarreraService/ObtenerCarreraResponse" message="tns:ICarreraService_ObtenerCarrera_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarreraService" type="tns:ICarreraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCarrera">
      <soap:operation soapAction="http://tempuri.org/ICarreraService/InsertarCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCarrera">
      <soap:operation soapAction="http://tempuri.org/ICarreraService/ModificarCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCarrera">
      <soap:operation soapAction="http://tempuri.org/ICarreraService/EliminarCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCarreras">
      <soap:operation soapAction="http://tempuri.org/ICarreraService/TraerCarreras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCarrera">
      <soap:operation soapAction="http://tempuri.org/ICarreraService/ObtenerCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarreraService">
    <wsdl:port name="BasicHttpBinding_ICarreraService" binding="tns:BasicHttpBinding_ICarreraService">
      <soap:address location="http://localhost:55919/WebServices/Servicies/CarreraService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>