CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/CarreraServicio/CarreraService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55919/WebServices/Servicies/CarreraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
  <xs:element name="InsertarCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="carrera" nillable="true" type="q1:Carrera" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q2:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarCarreraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="carrera" nillable="true" type="q3:Carrera" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q4:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCarreraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_carrera" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q5:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCarreraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCarreras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCarrerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="TraerCarrerasResult" nillable="true" type="q6:ArrayOfCarrera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_ciudad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="ObtenerCarreraResult" nillable="true" type="q7:Carrera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>