CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/CarreraServicio/CarreraService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Carrera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Carrera" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_Carrera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrera" nillable="true" type="tns:Carrera" />
  <xs:complexType name="Adminstrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrador" nillable="true" type="tns:Adminstrador" />
  <xs:complexType name="ArrayOfCarrera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrera" nillable="true" type="tns:Carrera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrera" nillable="true" type="tns:ArrayOfCarrera" />
</xs:schema>