CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/EstudianteSerivice/EstudianteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Carrera" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Estudiante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estudiante" nillable="true" type="tns:Estudiante" />
  <xs:complexType name="Adminstrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrador" nillable="true" type="tns:Adminstrador" />
  <xs:complexType name="ArrayOfEstudiantePerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstudiantePerson" nillable="true" type="tns:EstudiantePerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudiantePerson" nillable="true" type="tns:ArrayOfEstudiantePerson" />
  <xs:complexType name="EstudiantePerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Carrera" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Estudiante" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudiantePerson" nillable="true" type="tns:EstudiantePerson" />
</xs:schema>