CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/EstudianteSerivice/EstudianteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstudianteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/EstudianteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/EstudianteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/EstudianteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstudianteService_InsertarEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEstudiante" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_InsertarEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ModificarEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstudiante" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ModificarEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ElminarEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ElminarEstudiante" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ElminarEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ElminarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_TraerEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_TraerEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ObtenerEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiante" />
  </wsdl:message>
  <wsdl:message name="IEstudianteService_ObtenerEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudianteResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstudianteService">
    <wsdl:operation name="InsertarEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudianteService/InsertarEstudiante" message="tns:IEstudianteService_InsertarEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudianteService/InsertarEstudianteResponse" message="tns:IEstudianteService_InsertarEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudianteService/ModificarEstudiante" message="tns:IEstudianteService_ModificarEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudianteService/ModificarEstudianteResponse" message="tns:IEstudianteService_ModificarEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ElminarEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudianteService/ElminarEstudiante" message="tns:IEstudianteService_ElminarEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudianteService/ElminarEstudianteResponse" message="tns:IEstudianteService_ElminarEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudianteService/TraerEstudiantes" message="tns:IEstudianteService_TraerEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudianteService/TraerEstudiantesResponse" message="tns:IEstudianteService_TraerEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudianteService/ObtenerEstudiante" message="tns:IEstudianteService_ObtenerEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudianteService/ObtenerEstudianteResponse" message="tns:IEstudianteService_ObtenerEstudiante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstudianteService" type="tns:IEstudianteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEstudiante">
      <soap:operation soapAction="http://tempuri.org/IEstudianteService/InsertarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstudiante">
      <soap:operation soapAction="http://tempuri.org/IEstudianteService/ModificarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElminarEstudiante">
      <soap:operation soapAction="http://tempuri.org/IEstudianteService/ElminarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IEstudianteService/TraerEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiante">
      <soap:operation soapAction="http://tempuri.org/IEstudianteService/ObtenerEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstudianteService">
    <wsdl:port name="BasicHttpBinding_IEstudianteService" binding="tns:BasicHttpBinding_IEstudianteService">
      <soap:address location="http://localhost:55919/WebServices/Servicies/EstudianteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>