CSharp/WsRecursosHumanos/RecursosHumanos/Service References/EmpleadoServicio/EmpleadoServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
</xs:schema>