CSharp/WsRecursosHumanos/RecursosHumanos/Service References/EmpleadoServicio/EmpleadoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpleadoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41294/EmpleadoServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41294/EmpleadoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41294/EmpleadoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsRecursosHumanos.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleadoServicio_AgregarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_AgregarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_EditarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_EditarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_EliminarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_EliminarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_TraerEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerEmpleados" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_TraerEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerTipoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCambio" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerTipoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCambioResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleadoServicio">
    <wsdl:operation name="AgregarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/AgregarEmpleado" message="tns:IEmpleadoServicio_AgregarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/AgregarEmpleadoResponse" message="tns:IEmpleadoServicio_AgregarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/EditarEmpleado" message="tns:IEmpleadoServicio_EditarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/EditarEmpleadoResponse" message="tns:IEmpleadoServicio_EditarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/EliminarEmpleado" message="tns:IEmpleadoServicio_EliminarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/EliminarEmpleadoResponse" message="tns:IEmpleadoServicio_EliminarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/TraerEmpleados" message="tns:IEmpleadoServicio_TraerEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/TraerEmpleadosResponse" message="tns:IEmpleadoServicio_TraerEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleado" message="tns:IEmpleadoServicio_ObtenerEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleadoResponse" message="tns:IEmpleadoServicio_ObtenerEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerTipoCambio" message="tns:IEmpleadoServicio_ObtenerTipoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerTipoCambioResponse" message="tns:IEmpleadoServicio_ObtenerTipoCambio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpleadoServicio" type="tns:IEmpleadoServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/AgregarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/EditarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/EliminarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEmpleados">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/TraerEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCambio">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoServicio/ObtenerTipoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpleadoServicio">
    <wsdl:port name="BasicHttpBinding_IEmpleadoServicio" binding="tns:BasicHttpBinding_IEmpleadoServicio">
      <soap:address location="http://localhost:41294/EmpleadoServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>