CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/Grupo_EstudianteService/Grupo_EstudianteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Grupo_Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Estudiante" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Grupo" type="xs:int" />
      <xs:element minOccurs="0" name="N_Registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo_Estudiante" nillable="true" type="tns:Grupo_Estudiante" />
  <xs:complexType name="Adminstrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrador" nillable="true" type="tns:Adminstrador" />
  <xs:complexType name="ArrayOfGrupo_Estudiantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupo_Estudiantes" nillable="true" type="tns:Grupo_Estudiantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupo_Estudiantes" nillable="true" type="tns:ArrayOfGrupo_Estudiantes" />
  <xs:complexType name="Grupo_Estudiantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Estudiante" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Grupo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo_Estudiantes" nillable="true" type="tns:Grupo_Estudiantes" />
</xs:schema>