CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/Grupo_EstudianteService/Grupo_EstudianteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Grupo_EstudianteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/Grupo_EstudianteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/Grupo_EstudianteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/Grupo_EstudianteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrupo_EstudianteService_InsertarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRegistro" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_InsertarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_ModificarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRegistro" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_ModificarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_EliminarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistro" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_EliminarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_EstudiantesGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:EstudiantesGrupo" />
  </wsdl:message>
  <wsdl:message name="IGrupo_EstudianteService_EstudiantesGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstudiantesGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrupo_EstudianteService">
    <wsdl:operation name="InsertarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/InsertarRegistro" message="tns:IGrupo_EstudianteService_InsertarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/InsertarRegistroResponse" message="tns:IGrupo_EstudianteService_InsertarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/ModificarRegistro" message="tns:IGrupo_EstudianteService_ModificarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/ModificarRegistroResponse" message="tns:IGrupo_EstudianteService_ModificarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/EliminarRegistro" message="tns:IGrupo_EstudianteService_EliminarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/EliminarRegistroResponse" message="tns:IGrupo_EstudianteService_EliminarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstudiantesGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/EstudiantesGrupo" message="tns:IGrupo_EstudianteService_EstudiantesGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupo_EstudianteService/EstudiantesGrupoResponse" message="tns:IGrupo_EstudianteService_EstudiantesGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGrupo_EstudianteService" type="tns:IGrupo_EstudianteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRegistro">
      <soap:operation soapAction="http://tempuri.org/IGrupo_EstudianteService/InsertarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarRegistro">
      <soap:operation soapAction="http://tempuri.org/IGrupo_EstudianteService/ModificarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <soap:operation soapAction="http://tempuri.org/IGrupo_EstudianteService/EliminarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstudiantesGrupo">
      <soap:operation soapAction="http://tempuri.org/IGrupo_EstudianteService/EstudiantesGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Grupo_EstudianteService">
    <wsdl:port name="BasicHttpBinding_IGrupo_EstudianteService" binding="tns:BasicHttpBinding_IGrupo_EstudianteService">
      <soap:address location="http://localhost:55919/WebServices/Servicies/Grupo_EstudianteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>