CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/AdministrativoService/AdministrativosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55919/WebServices/Servicies/AdministrativosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="persona" nillable="true" type="q1:Persona" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="administrador" nillable="true" type="q2:Adminstrador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContraseñaActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NuevaContraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RepetirContraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarClaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarPropietarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAdministradores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAdministradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="TraerAdministradoresResult" nillable="true" type="q3:ArrayOfAdministrador_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" minOccurs="0" name="ObtenerAdministradorResult" nillable="true" type="q4:Administrador_Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>