CSharp/WebServiceProyectoUniversidad/Proyecto/Service References/AdministrativoService/AdministrativosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministrativosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AdministrativosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AdministrativosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55919/WebServices/Servicies/AdministrativosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceProyectoUniversidad.Estructuras" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministrativosService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_InsertarAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAdministrador" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_InsertarAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_CambiarPropietario_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPropietario" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_CambiarPropietario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPropietarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_EliminarAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAdministrador" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_EliminarAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_TraerAdministradores_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerAdministradores" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_TraerAdministradores_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerAdministradoresResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_ObtenerAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAdministrador" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_ObtenerAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_ValidarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdministrativosService_ValidarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministrativosService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/DoWork" message="tns:IAdministrativosService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/DoWorkResponse" message="tns:IAdministrativosService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/InsertarAdministrador" message="tns:IAdministrativosService_InsertarAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/InsertarAdministradorResponse" message="tns:IAdministrativosService_InsertarAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/CambiarClave" message="tns:IAdministrativosService_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/CambiarClaveResponse" message="tns:IAdministrativosService_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPropietario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/CambiarPropietario" message="tns:IAdministrativosService_CambiarPropietario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/CambiarPropietarioResponse" message="tns:IAdministrativosService_CambiarPropietario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/EliminarAdministrador" message="tns:IAdministrativosService_EliminarAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/EliminarAdministradorResponse" message="tns:IAdministrativosService_EliminarAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerAdministradores">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/TraerAdministradores" message="tns:IAdministrativosService_TraerAdministradores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/TraerAdministradoresResponse" message="tns:IAdministrativosService_TraerAdministradores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/ObtenerAdministrador" message="tns:IAdministrativosService_ObtenerAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/ObtenerAdministradorResponse" message="tns:IAdministrativosService_ObtenerAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrativosService/ValidarSesion" message="tns:IAdministrativosService_ValidarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrativosService/ValidarSesionResponse" message="tns:IAdministrativosService_ValidarSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministrativosService" type="tns:IAdministrativosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAdministrador">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/InsertarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPropietario">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/CambiarPropietario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAdministrador">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/EliminarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAdministradores">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/TraerAdministradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAdministrador">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/ObtenerAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarSesion">
      <soap:operation soapAction="http://tempuri.org/IAdministrativosService/ValidarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministrativosService">
    <wsdl:port name="BasicHttpBinding_IAdministrativosService" binding="tns:BasicHttpBinding_IAdministrativosService">
      <soap:address location="http://localhost:55919/WebServices/Servicies/AdministrativosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>